[tasks.format]
install_crate = "rustfmt"
command = "cargo"
args = ["fmt", "--", "--emit=files"]

[tasks.build]
command = "cargo"
args = ["build"]
dependencies = ["format"]

[tasks.release]
command = "cargo"
args = ["build", "--release"]
dependencies = ["format"]

[tasks.test]
command = "cargo"
args = ["test"]
dependencies = ["build"]

# Example usage: cargo make watch "backup filesystem"
[tasks.watch]
env = {"RUST_LOG"="INFO"}
command = "cargo"
args = ["watch", "-x", "run -- ${@}"]